@tailwind base;
@tailwind components;

html {
  @apply h-full;
}

body {
  @apply h-full bg-gray-100;
}

#__next {
  @apply h-full;
}

.header {
  background-image: linear-gradient(#642B73, #c6426e);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

.markdownResult {
  h1 {
    @apply text-4xl font-bold mb-5;
  }
  h2 {
    @apply text-3xl font-bold mb-5;
  }
  h3 {
    @apply text-2xl font-bold mb-5;
  }
  a {
    @apply text-blue-600 underline;
  }

  p {
    @apply mb-5;
  }
}

@tailwind utilities;
